.container {
    display: flex;
}


#tile {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

#tile div {
    height: 20px;
    width: 20px;
}

.shape {
    background-color: blue;
}

#next-display {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    flex-wrap: wrap;
    display: flex;
    background-color: black;
}

#next-display div {
    width: 20px;
    height: 20px;
}
